{% extends 'base.html' %}

{% block content %}
  <!-- Jumbotron -->
  <div class="p-2 text-center rounded-3 jumbotron-container">
    <div class="jumbo d-flex justify-content-center align-items-center h-100 text-container">
      <div>
        <h2>Exploring Life's Diverse Passions</h2>
        <h4>A World of Nature, Travel, Creativity, and Sustainability</h4>
        <a class="btn btn-start-journey btn-lg" href="#" role="button">Start Your Journey</a>
      </div>
    </div>
  </div>

  <!-- subheading links -->
  <div class="container-fluid my-4">
    <div class="row">
      {% if user.is_authenticated %}
        <!-- Display this section to logged-in users -->
        <div class="col-md-4 pb-2 pt-2 text-center text-md-left">
          <h2>Inspired Creations</h2>
          <p>Nature and Travel Infused Artistry</p>
          <a href="#" class="btn stories align-content-center">Learn More</a>
        </div>
        <div class="col-md-4 pb-2 pt-2 text-center text-md-left">
          <h2>Capturing the Beauty</h2>
          <p>The visual journey through my lens</p>
          <a href="#" class="btn stories">Learn More</a>
        </div>
        <div class="col-md-4 pb-2 pt-2 text-center text-md-left">
          <h2>Harmony with the Earth</h2>
          <p>Nurturing the Land and Living Sustainably</p>
          <a href="#" class="btn stories">Learn More</a>
        </div>
        <div class="container">
          <div class="row">
            
            </div>
          </div>
          <!-- Recent Blog Posts -->
        <div class="container my-4">
          <h3>Recent Blog Posts</h3>
          <div class="row">
            {% for post in recent_posts %}
              <div class="col-md-4 mb-4">
                <div class="card">
                  <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.image_alt }}">
                  <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.created_on }}</p>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <a href="{% url 'view_blog' slug=post.slug %}" class="btn btn-primary">Read More</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
</body>
</html>