html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

}

main {
  flex: 1 0 auto;
  background-color: #f1e6e6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant Garamond', serif;
}
  
p {
    font-family: 'Montserrat', sans-serif; 
}

/* navbar */
nav a.nav-link{
  color: black;
}

.plain {
  color: black;
}

/* text on index page */
.info-text {
  margin: 1px;
  max-width: 1600px;
  padding: 20px;
}
.info-text1 {
  font-size: 1.5rem;
}
.info-text-font {
  font-size: 25rem;
}

/* jumbotron image */
.jumbotron-container {
  background-image: url('https://res.cloudinary.com/ddqp69pru/image/upload/v1701382924/slovenia2_kg8nfw.jpg');
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: overlay;
  height: 400px;
  background-size: cover;
}

.text-container {
  color: white;
}

.btn-start-journey {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.btn-start-journey:hover {
  background-color: rgba(254, 251, 251, 0.991); 
}

/* alert logged in */
.alert {
  margin-bottom: 0;
  padding: 10px;
}

.recents {
  background-color: #d8a996;
  color: rgb(0, 0, 0);
}

.recents:hover {
  background-color:#cb9884;

}

.sign-up-link {
  color: black;
  text-decoration: black;
}
.recent-posts {
background-color: #d3c8c4;
}
