:root {
    /* font */
    --main-font: 'Cormorant Garamond', serif;
    --alt-font: 'Montserrat', sans-serif;
    /* colours */

  }
  
  :root {
    /* Fonts */
    --title: 'Josefin Sans', sans-serif;
    --main-font: 'Josefin Sans', sans-serif;
    /* Colours */
    background-color:#e6ad96;
    background-color:#cb9884;
    color: #fff;
    background-color: rgba(254, 251, 251, 0.991); 
    background-color: rgba(142, 125, 110, 0.68);
    /* Utils */
    --small-box-shadow: 1px -1px 9px 0 #00000061;
    --border: 1px solid var(--grey);

}


  body {
    font-family: var(--main-font);
  }
  
  p {
    font-family: var(--alt-font);
  }
  
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}


/* Footer */
/* footer {
    flex-shrink: 0;
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.social-icon {
    height: 2rem;
    margin: 1rem;
    color: black;
}

.active {
    border-bottom: 2px solid blue;
} */