{% load static %}

<section>
  {% with request.resolver_match_url_name as url_name %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Nomads</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}"
          href="{% url 'home' %}">Home</a>
        {% if perms.blog.add_post %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == add_post %}active" aria-current="page{% endif %}"
                    href="{% url 'add_post' %}">Add Post</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == logout_url %}active" aria-current="page{% endif %}"
            href="{% url 'account_logout' %}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog_categories' %}">Categories</a>
        </li>
        <!-- id like to do the contact as a modal -->
        {% endif %}
      </div>
      <div class="ml-auto sign-up">
        <a class="nav-link {% if request.path == login_url %}active" aria-current="page{% endif %}"
          href="{% url 'account_login' %}">Login</a>
      </div>
    </div>
  </nav>
</section>
{% endwith %}