{% extends 'base.html' %}
{% load static %}
{% block title %}Nomads collide- {{ blog.title }}{% endblock %}

{% block content %}
  <h1 class="text-center p-2">All Blogs</h1>
  <div class="container">
    <div class="row">
      {% for blog in blogs %}
        <div class="col-md-4">
          <a href="{% url 'view_blog' slug=blog.slug %}" class="blog" aria-label="Click to view {{ blog.title }}">
            <div class="card m-3 custom-card">
              <img src="{{ blog.image.url }}" class="card-img-top" alt="{{ blog.image_alt }}">
              <div class="card-body">
                <h2 class="card-title">{{ blog.title }}</h2>
                <p class="card-text">{{ blog.excerpt|truncatechars_html:30 }}</p>
                <p>Published on: {{ blog.created_on }}</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

    {% block extras %}
    <script src="{% static 'js/comments.js' %}"></script>
    {% endblock %}